
<app-sidebar [sidebarMin]="isCollapse" [bgColor]="sidebarBgColor" 
    [menuActiveColor]="menuActiveColor"
    [enableBgImg] = "enableBgImg"
    [bgImgUrl] = "bgImgUrl"
  ></app-sidebar>

<div class="main-panel">
  <app-header [sidebar_mini_active]="isCollapse" (onChangeSidebar)="collapseSidebar($event)"></app-header>

  <div class="content">
       <div class="container-fluid">

         <router-outlet></router-outlet>

       </div>
      

  </div>
  <app-footer></app-footer>
</div>

<app-fixed-plugin [currentBgColor]="sidebarBgColor" 
    [IsMini]="isCollapse" 
    (onChangeSidebar)="collapseSidebar($event)"
    (onChangeSidebarBgColor) = "ChangeSidebarBgColor($event)"
    [currentMenuColor] = "menuActiveColor"
    (onChangeSidebarMenuColor) = "ChangeSidebarMenuColor($event)"
    (onUseBgImg) = "UseBgImg($event)"
    (onChangeSidebarBgImg) = "ChangeSidebarBgImg($event)"
    >
</app-fixed-plugin>