  <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color"  (click)="stopPropagation()">
                        <div class="badge-colors text-center" >

                            <span  *ngFor="let item of colors" 
                                class="badge filter badge-{{item}}" [ngClass]="currentMenuColor==item ?'active':''"
                                (click)="changeMenuColor(item)" ></span>

                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color"  (click)="stopPropagation()">
                        <div class="text-center">
                            <span [ngClass]="{badge:true,
                                                filter:true, 
                                                'badge-white':true,
                                                active: currentBgColor == 'white'}" data-color="white"
                                   (click)="changeBgColor('white')"
                                   ></span>
                            <span [ngClass]="{badge:true,
                                                filter:true, 
                                                'badge-black':true,
                                                active: currentBgColor == 'black'}" data-color="black"
                                    (click)="changeBgColor('black')"
                                    ></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger"   (click)="stopPropagation()">
                        <p>Sidebar Mini</p>
                        <div class="togglebutton switch-sidebar-mini">
                            <label>
                                <input type="checkbox" [checked]="IsMini" #sidebarmini (change)="toggleSidebar(sidebarmini)">
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger"  (click)="stopPropagation()">
                        <p>Sidebar Image</p>
                        <div class="togglebutton switch-sidebar-image">
                            <label>
                                <input type="checkbox" [checked]="userBgImg" #chkbgimg (change)="toggleBgImg(chkbgimg)" >
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Images</li>
                <li *ngFor="let item of bgImgs" (click)="changeBgImg(item)" [ngClass]="{active: currentBgimg == item}">
                    <a class="img-holder switch-trigger" href="javascript:void(0)" >
                        <img src="../assets/img/{{item}}" alt="" />
                    </a>
                </li>
            
                <!--<li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-rose btn-block">Buy Now</a>
                    </div>
                    <div class="">
                        <a href="http://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-info btn-block">Get Free Demo</a>
                    </div>
                </li>
                <li class="header-title">Thank you for 95 shares!</li>
                <li class="button-container">
                    <button id="twitter" class="btn btn-social btn-twitter btn-round"><i class="fa fa-twitter"></i> &middot; 45</button>
                    <button id="facebook" class="btn btn-social btn-facebook btn-round"><i class="fa fa-facebook-square"> &middot;</i>50</button>
                </li>-->
            </ul>
        </div>
    </div>