<div class="sidebar" [attr.data-active-color]="menuActiveColor" [attr.data-background-color]="bgColor" data-image="assets/img/sidebar-1.jpg">

    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            ng2-GPS7
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="http://www.creative-tim.com" class="simple-text">
            G7
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="../assets/img/faces/avatar.jpg" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed" >
                    Tania Andrew
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample" >
                    <ul class="nav">
                        <li>
                            <a href="#">My Profile</a>
                        </li>
                        <li>
                            <a href="#">Edit Profile</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav" >
           
            <li *ngFor="let item of menuItems"  routerLinkActive="active">
                 <a *ngIf="!item.submenu || !item.submenu.length " [routerLink]="[item.link]" >
                    <i class="material-icons">{{item.icon}}</i>
                    <p>{{item.text}}</p>
                </a>
                <a *ngIf=" item.submenu && item.submenu.length " data-toggle="collapse" href="#{{item.code}}" [attr.aria-expanded]="setExpanded(item.submenu)">
                    <i class="material-icons">{{item.icon}}</i>
                    <p>{{item.text}}
                        <b class="caret" *ngIf="item.submenu && item.submenu.length" ></b>
                    </p>
                </a>
    
                <div class="collapse" [ngClass]="{in: setExpanded(item.submenu)}" id="{{item.code}}" *ngIf=" item.submenu && item.submenu.length " [ngStyle]="setSubmenuHeight()" >
                    <ul class="nav">
                        <li *ngFor="let subItem of item.submenu;" routerLinkActive="active">
                            <a [routerLink]="[subItem.link]" >{{subItem.text}}</a>
                        </li>
                    
                    </ul>
                </div>
            </li>
           
        </ul>
    </div>

    <div *ngIf="enableBgImg" class="sidebar-background" [ngStyle]="{background:'url(../assets/img/' + (bgImgUrl||'sidebar-1.jpg')+')' }"></div>
</div>

