<div class="row">
  <div class="col-md-12">
    <div class="card">
		<div class="card-header card-header-icon" data-background-color="rose">
			<i class="material-icons">assignment</i>
		</div>
		<div class="card-content">
				<h4>每日工作</h4>

				<div class="toolbar">
				
                    <button data-toggle="modal" data-target="#infoModal" class="btn btn-primary">
                        <i class="material-icons">add</i> 增加
                    </button>
                    <button data-toggle="modal" data-target="#infoModal"  class="btn btn-primary btn-sm btn-simple" [disabled]="canShowModal()" >
                        <i class="material-icons">mode_edit</i> 编辑
                    </button>
                    <button class="btn btn-primary btn-sm btn-simple"  [disabled]="canShowModal()">
                        <i class="material-icons">delete_forever</i> 删除
                    </button>
                    <button class="btn btn-primary btn-sm btn-simple">
                        <i class="material-icons">search</i> 查询
                    </button>
                </div>

				 <div class="material-datatables">
                    <table datatable [dtOptions]="dtOptions"  
                        class="table table-striped table-no-bordered table-hover" 
                        cellspacing="0" width="100%" style="width:100%">
                    </table>
                 </div>

		</div>
    </div>
  </div>
</div>

<div>  {{ currentRow | json }}     </div>



 <!-- notice modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="myModalLabel">详细信息-{{ currentRow |json }}</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Email Address
                            <small>*</small>
                        </label>
                        <input class="form-control"  name="email" type="email" required="true" />
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Password
                            <small>*</small>
                        </label>
                        <input class="form-control" name="password" id="registerPassword" type="password" required="true" />
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Confirm Password
                            <small>*</small>
                        </label>
                        <input class="form-control" name="password_confirmation" id="registerPasswordConfirmation" type="password" required="true" equalTo="#registerPassword" />
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
            </div>
        </div>
    </div>
</div>
<!-- end notice modal -->